<div class="flex justify-center gap-10 mt-6">
    <div class="card inline-block h-[23rem] min-h-10 w-96 min-w-8 p-1 ms-8 mt-8">
        <h1 class="font-extrabold text-branco text-3xl">Notes:</h1>
        <form id="notes_form" class="mt-4 h-72 w-full">
            <textarea id="notes_textarea" class="text-branco text-2xl tracking-widest resize-none focus:outline-none focus:border-roxo-claro rounded-lg h-full w-full bg-azul bg-opacity-50 border-4 border-roxo-escuro">{{ notes.note }}</textarea>
        </form>
    </div>

    <div class="card inline-block h-[23rem] w-96 p-1 ms-8 mt-8">
        <div class="flex gap-7">
            <a href="/notes/daily_goals" class="font-extrabold text-branco text-2xl hover:text-roxo-claro {{#if daily_goals_selected }} border-b-4 border-roxo-escuro{{/if}}">Daily Goals</a>
            <a href="/notes/weekly_goals" class="font-extrabold text-sky-100 text-2xl hover:text-roxo-claro {{#if weekly_goals_selected }} border-b-4 border-roxo-escuro{{/if}}">Weekly Goals</a>
        </div>

        
        {{#if daily_goals_selected }}
            <ul id="dailyGoalsList" class="list-disc list-inside mt-4">
                {{#each goals}}
                    <li data-id="{{ id }}" class="group font-semibold text-2xl text-wrap tracking-widest text-branco">
                        <span class="group-has-[a:hover]:line-through">
                            {{ daily_goals }}
                        </span>
                        <a class="deleteDailyGoal hover:cursor-pointer text-branco text-opacity-0 group-hover:text-opacity-100 no-underline text-3xl font-extrabold">x</a>
                    </li>
                {{/each}}
                <li class="text-branco text-2xl text-wrap font-semibold tracking-widest">
                    <input
                        id="daily_goals_input"
                        type="text"
                        placeholder="New daily goal"
                        class="bg-transparent outline-none placeholder:text-gray-400"
                    >
                </li>
            </ul>    

        {{/if}}


        {{#if weekly_goals_selected }}
            <ul id="weeklyGoalsList" class="list-disc list-inside mt-4">
                {{#each goals}}
                    <li data-id="{{ id }}" class="group font-semibold text-2xl text-wrap tracking-widest text-branco">
                        <span class="group-has-[a:hover]:line-through">
                            {{ weekly_goals }}
                        </span>
                        <a class="deleteWeeklyGoal hover:cursor-pointer text-branco text-opacity-0 group-hover:text-opacity-100 no-underline text-3xl font-extrabold">x</a>

                    </li>
                {{/each}}
                <li class="text-branco text-2xl text-wrap tracking-widest font-semibold">
                    <input
                        id="weekly_goals_input"
                        type="text"
                        placeholder="New weekly goal"
                        class="bg-transparent outline-none placeholder:text-gray-400"
                    >
                </li>
            </ul>
        {{/if}}
        
    </div>
</div>